body{
    font-family:Arial, Helvetica, Sans Serif;
}

h1{}

h2{
    font-size: 1.75em;
    font-weight:bolder;
}

h3{
    font-size:1.5em;
    font-weight:bolder;
    color:#2b88d9;

}

h4{}

p{
    margin:1em 0;
}

a{
    text-decoration:none;
    color:rgb(255,69,0);
    font-weight: bolder;
}